<div th:fragment="select" id="postsBlock">		
		<div class="form-group">
            <label th:text="#{reserva.cliente}">Select</label>
            <select class="form-control">
            	<option th:text="#{reserva.selectCliente}"value="">Selecione o país</option>
	            <option value="PF">Pessoa Física</option>
	            <option value="PJ">Pessoa Jurídica</option>
            </select>
          </div>
          
          <div class="form-group">
            <label th:text="#{reserva.pf}">Select</label>
            <select class="form-control">
            	<option th:text="#{reserva.selectPF}"value="">Selecione o país</option>
              	<option th:each="pessoaFisica : ${pessoasFisicas}" th:value="${pessoaFisica.id}" th:text="${pessoaFisica.nome}">option 1</option>
            </select>
          </div>
          
          <div class="form-group">
            <label th:text="#{reserva.pj}">Select</label>
            <select class="form-control">
            	<option th:text="#{reserva.selectPJ}"value="">Selecione o país</option>
          		<option th:each="pessoaJuridica : ${pessoasJuridicas}" th:value="${pessoaJuridica.id}" th:text="${pessoaJuridica.nome}">option 1</option>
            </select>
          </div>