<html layout:decorate="~{/layouts/main}">

<head>
<title th:text="#{quarto.profile}" />
</head>

<th:block layout:fragment="css-view">
	<link rel="stylesheet"
		href="/webjars/adminlte/2.3.11/plugins/datatables/dataTables.bootstrap.css">
</th:block>

<th:block layout:fragment="js-view">
	<script
		src="/webjars/adminlte/2.3.11/plugins/datatables/jquery.dataTables.min.js"></script>
	<script
		src="/webjars/adminlte/2.3.11/plugins/datatables/dataTables.bootstrap.js"></script>
	<script>
		$(function() {

			$('#example1').DataTable()
		})
	</script>
</th:block>

<!-- CONTENT HEADER -->
<div layout:fragment="content-header">
	<section class="content-header">
		<!-- PAGE TITLE -->
		<h1>
			<span th:text="#{quarto.titulo}" />
		</h1>
		<!-- BREADCRUMB -->
		<ol class="breadcrumb">
			<li><a href="#"> <i class="fa fa-dashboard"></i> <span
					th:text="#{breadcrumb}" />
			</a></li>
			<li><a href="#"><span th:text="#{quarto.titulo}" /></a></li>
		</ol>
	</section>
</div>

<!-- CONTENT -->
<div layout:fragment="content">

	<!-- Main content -->
	<section class="content">

		<div class="row">
			<div class="col-xs-12">


				<!-- CAIXA FORMULARIO DE CADASTRO DE QUARTOS -->
				<div class="box box-danger">
					<div class="box-header">
						<h3 class="box-title">Formulario</h3>
					</div>

					<form role="form" th:object="${quarto}" th:action="@{/quarto/save}" method="post">

						<div class="box-body">
							<div class="form-group">
								<label><span th:text="#{quarto.numero}" /></label> <input
									type="text" class="form-control" placeholder="#{quarto.numero}" th:field="${quarto.numero}" >
							</div>

							<div class="form-group">
								<label><span th:text="#{quarto.descricao}" /></label> <input
									type="text" class="form-control"
									placeholder="#{quarto.descricao}" 
									th:field="${quarto.descricao}">
							</div>

							<div class="form-group">
								<label><span th:text="#{quarto.tipo}" /></label> <select
									class="form-control" id="tipo">
									<option th:each="tipoQuarto : ${tipoQuartos}"
										th:value="${tipoQuarto}" th:text="${tipoQuarto}" th:field="${quarto.tipo}">XXXXX</option>
								</select>
							</div> 

							<div class="form-group">
								<label><span th:text="#{quarto.disponivel}" /></label> <input
									type="text" class="form-control"
									placeholder="#{quarto.disponivel}"
									th:field="${quarto.disponivel}">
							</div>
						</div>

						<div class="box-footer">
							<button type="submit" class="btn btn-default">Cancel</button>
							<button type="submit" class="btn btn-info pull-right">Sign
								in</button>
						</div>

					</form>
				</div>


				<!-- CAIXA LISTA DE QUARTOS -->
				<div class="box">
					<div class="box-header">
						<h3 class="box-title" th:text="#{quarto.tabela.titulo}">Responsive
							Hover Table</h3>
					</div>


					<div class="box-body">
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th th:text="#{quarto.id}"></th>
									<th th:text="#{quarto.descricao}"></th>
									<th th:text="#{quarto.numero}"></th>
									<th th:text="#{quarto.tipo}"></th>
									<th th:text="#{quarto.disponivel}"></th>
									<th th:text="#{quarto.acoes}"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="quarto : ${quartos}">
									<td th:text="${quarto.id}">183</td>
									<td th:text="${quarto.descricao}">201</td>
									<td th:text="${quarto.numero}">201</td>
									<td th:text="${quarto.tipo}">Standard</td>
									<td th:text="${quarto.disponivel}?#{quarto.sim}:#{quarto.nao}">Sim</td>
									<td><a href="#" th:href="@{|/quarto/edita/${quarto.id}|}">Editar</a>|
										<a href="#" th:href="@{|/quarto/delete/${quarto.id}|}">Excluir</a>
									</td>
								</tr>
						</table>
					</div>
				</div>


			</div>

		</div>
		<!-- /.col -->
	</section>
</div>
</html>

